*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container input{
    height: 40px;
    color: black;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 12px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    border: 1px solid gray;
}
.container button{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: none;
    border: 1px solid black;
    font-weight: bold;

}
.container form{
    width: max-content;
    padding: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.response{
    color:red;
}